.infoUser {
  height: 86vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
  width: 30%;
  padding: 20px;
}

.item_img {
  margin: 0 auto;
  width: 200px;
  height: 255px;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.closeBtn {
  font-size: 20px;
  border: none;
  cursor: pointer;
}
